<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form method="post">
	<div>
		<label for="corse">開催場所</label>
		<select name="corse">
		<option value="">選択してください</option>
		<option value="東京">東京</option>
		<option value="中山">中山</option>
		<option value="阪神">阪神</option>
		<option value="中京">中京</option>
		</select>
	</div>
</form>
</body>
</html>
