<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
 <form method="post">
	<div>
		<label for="prefecture">都道府県</label>
		<select name="prefecture">
		<option value="">選択してください</option>
		<option value="北海道">北海道</option>
		<option value="青森県">青森県</option>
		<option value="岩手県">岩手県</option>
		<option value="宮城県">宮城県 下記省略</option>
		</select>
	</div>
</form>
</body>
</html>
